*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f8fafc;
  overflow-x: hidden;
}

body {
  margin: 0;
}

#__next {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
